version: "3"

services:
  web:
    build: ./app
    volumes:
      - ./app:/app
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=mysecret
    depends_on:
      - redis
      - db
    networks:
      - mynet
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - mynet
  redis:
    image: redis:7.2
    restart: always
    networks:
      - mynet
  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=112233
    volumes:
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - mysql_data:/var/lib/mysql
    networks:
      - mynet
networks:
  mynet:
    driver: bridge
volumes:
  mysql_data:
